<div class="container mt-5">
    <p class="about-school">
        ASEX is a very well-regarded, high achieving and popular school located across 10 major cities in Sri Lanka. It is a fully-fledged private, fee-levying and a K12 co-educational school network, with English as the primary medium of instruction in teaching and learning.
    
    The main school in Panadura was inaugurated on 23rd August 1999 and later, ten more schools were started in Matara, Galle, Horana, Ambalangoda, Matugama, Tangalle, Piliyandala  and Negombo.
    
    Leeds has been providing education for over 18 years to over 5000 students following both London and National curriculums.
    
    The Nursery section caters to students of the age range of 2 1/2 – 5 years. Classes are conducted from Grade 1 to 13 serving the 5 -18 years age groups. The school prepares students mainly for Pearson Edexcel IGCSE and IAL Examinations. For those who wish to follow the local syllabus in the English medium, provision is made from Grade 8 up to A Levels.
    
    As per our motto “Strive for Excellence”, the school maintains and continually develops high standards in academics and discipline.
    
    The well equipped Science and Computer Laboratories, Library facilities and multimedia based activity rooms provide adequate support for the learning-teaching process and prepare our students to be equipped with the skills needed for future. Continuous dialogue with parents, common mid and term examinations for all 10 schools and ongoing student evaluations and support help to maintain standards.
    
    The school campuses are spacious and well maintained. A pleasant, friendly atmosphere makes school a happy and enjoyable experience for students. It is, total personality development that the school aims at, in preparing students to meet challenges in life with confidence.
    
    A wide range of co-curricular activities are made available for balanced personality development. Rich learning experiences are provided by the educational and field trips, clubs & societies, community service projects, activity days, annual concerts, drama and the celebration of religious and cultural festivals.
    
    Students are encouraged to take part in sports, and facilities are provided for swimming, cricket, badminton, karate, netball, chess, scrabble, athletics, etc. Athletics, Karate and Chess has become very popular among students, winning medals even at International level. The Drama Club of ASEX produced the dramas ‘Oliver’ in every September  and ‘Rats’ in every January  under the direction of Mr. Akila Delapalage & Mr. Daya de Silva. Numerous opportunities are provided for students to develop leadership skills.
    
    In keeping with the multi-ethnic and multi-cultural nature of the country, students of different nationalities and religions, study together in friendship, learning to understand and appreciate each other’s culture and religions.
    
   ASEX provides opportunities for students to have a well balanced education in the English medium with Religion, Culture and Values as the firm foundation.
    </p>
</div>

